In [19]:
import pandas as pd
import numpy as np

In [20]:
raw = pd.read_csv('서울관광재단_식당품질정보_20230111.csv', encoding = 'cp949')
raw.head()

,식당(ID),식당명,지점명,지역명,어워드정보설명,(RTI)지수,온라인화진행여부,수용태세지수,인기도,트립어드바이저평점,씨트립평점,네이버평점
0,12420,하늘찬,NaN,강서구,모범음식점(2014),1.050190,N,0.214,NaN,NaN,NaN,5.0
1,12588,파티대통령,NaN,광진구,모범음식점(2009),4.188102,Y,0.300,0.03,NaN,NaN,5.0
2,13586,오늘 한판,NaN,금천구,모범음식점(2009),4.251917,Y,0.490,0.20,NaN,NaN,5.0
3,14203,원조궁중추어탕,NaN,강서구,"모범음식점(2009),안심식당(2020)",4.159002,N,0.264,0.09,NaN,NaN,5.0
4,15320,최네집부대찌개,NaN,성북구,모범음식점(2008),1.050190,N,0.264,NaN,NaN,NaN,5.0

In [21]:
my_area = raw[['식당(ID)','식당명', '지점명','지역명','네이버평점']]

my_area.head(10)

   식당(ID)      식당명    지점명   지역명  네이버평점
0   12420      하늘찬    NaN   강서구    5.0
1   12588    파티대통령    NaN   광진구    5.0
2   13586    오늘 한판    NaN   금천구    5.0
3   14203  원조궁중추어탕    NaN   강서구    5.0
4   15320  최네집부대찌개    NaN   성북구    5.0
5   15339  온라이프다이닝  NC강서점   강서구    5.0
6   86478   이문동떡볶이    NaN  동대문구    5.0
7   90829    토종순대국    NaN   광진구    5.0
8   97828      쿠타니    NaN   강서구    5.0
9  159837  라뜰리에 꼼때    NaN   종로구    5.0

In [22]:

my_area['식당명+지점명'] = np.where(
    my_area['지점명'].notna(),
    my_area['식당명'].astype(str) + " " + my_area['지점명'].astype(str),
    my_area['지역명'] + " " + my_area['식당명'].astype(str)
)

my_area.head(10)

C:\Users\wingclaw\AppData\Local\Temp\ipykernel_17576\1044838715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_area['식당명+지점명'] = np.where(

   식당(ID)      식당명    지점명   지역명  네이버평점        식당명+지점명
0   12420      하늘찬    NaN   강서구    5.0        강서구 하늘찬
1   12588    파티대통령    NaN   광진구    5.0      광진구 파티대통령
2   13586    오늘 한판    NaN   금천구    5.0      금천구 오늘 한판
3   14203  원조궁중추어탕    NaN   강서구    5.0    강서구 원조궁중추어탕
4   15320  최네집부대찌개    NaN   성북구    5.0    성북구 최네집부대찌개
5   15339  온라이프다이닝  NC강서점   강서구    5.0  온라이프다이닝 NC강서점
6   86478   이문동떡볶이    NaN  동대문구    5.0    동대문구 이문동떡볶이
7   90829    토종순대국    NaN   광진구    5.0      광진구 토종순대국
8   97828      쿠타니    NaN   강서구    5.0        강서구 쿠타니
9  159837  라뜰리에 꼼때    NaN   종로구    5.0    종로구 라뜰리에 꼼때

In [23]:
name_list = my_area['식당명+지점명'].tolist()
name_list = name_list
name_list[:10]

['강서구 하늘찬',
 '광진구 파티대통령',
 '금천구 오늘 한판',
 '강서구 원조궁중추어탕',
 '성북구 최네집부대찌개',
 '온라이프다이닝 NC강서점',
 '동대문구 이문동떡볶이',
 '광진구 토종순대국',
 '강서구 쿠타니',
 '종로구 라뜰리에 꼼때']

In [24]:
import requests

res_info_list = []
no_place = []

for searching in name_list:
    url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(searching)
    headers = {
        "Authorization": "KakaoAK baccb3812bb7865995e93c318b31e10e"
    }
    places = requests.get(url, headers=headers).json()['documents']
    
    if len(places) <= 0:
        places = {'address_name': np.nan,
                 'category_group_code': np.nan,
                 'category_group_name': np.nan,
                 'category_name': np.nan,
                 'distance': np.nan,
                 'id': np.nan,
                 'phone': np.nan,
                 'place_name': np.nan,
                 'place_url': np.nan,
                 'road_address_name': np.nan,
                 'x': np.nan,
                 'y': np.nan}
        res_info_list.append(places)
        
    else:
        res_info_list.append(places[0])

In [27]:
len(res_info_list)

5011

In [30]:
res_info_df = pd.DataFrame(res_info_list)
res_info_df['평점'] = raw['네이버평점']
res_info_df.loc[res_info_df['address_name'].isna(), '평점'] = np.nan

In [31]:
res_info_df[:10]

,address_name,category_group_code,category_group_name,category_name,distance,id,phone,place_name,place_url,road_address_name,x,y,평점
0,서울 강서구 방화동 886,FD6,음식점,음식점 > 한식,,26888363,070-4947-9855,김포국제공항 국제선 하늘찬,http://place.map.kakao.com/26888363,서울 강서구 하늘길 38,126.800878128754,37.5657446032739,5.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울 금천구 가산동 41-11,FD6,음식점,"음식점 > 한식 > 육류,고기",,16593645,,오늘한판,http://place.map.kakao.com/16593645,서울 금천구 벚꽃로 312,126.88298000435,37.4822199229043,5.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울 성북구 동선동1가 46-1,FD6,음식점,"음식점 > 한식 > 찌개,전골",,1625544233,0507-1307-4113,최네집부대찌개 성북점,http://place.map.kakao.com/1625544233,서울 성북구 보문로34길 31,127.01712439872168,37.5906561839804,5.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,서울 동대문구 이문동 345-9,FD6,음식점,음식점 > 분식 > 떡볶이,,642334911,010-6202-5408,이문동떡볶이,http://place.map.kakao.com/642334911,서울 동대문구 이문로9길 12,127.057145077247,37.5930798753618,5.0
7,서울 광진구 화양동 34-12,FD6,음식점,음식점 > 한식 > 순대,,1941876222,02-462-6788,토종명품순대국,http://place.map.kakao.com/1941876222,서울 광진구 동일로24길 63,127.068639583916,37.5430477748045,5.0
8,서울 강서구 화곡동 1111,FD6,음식점,음식점 > 일식,,783934018,02-2065-9990,쿠타니,http://place.map.kakao.com/783934018,서울 강서구 화곡로 350,126.852335932917,37.5548928970391,5.0
9,서울 종로구 명륜1가 1-5,FD6,음식점,음식점 > 양식,,1943348861,02-762-0080,라뜰리에 꼼때,http://place.map.kakao.com/1943348861,서울 종로구 성균관로17길 53,126.997278004869,37.5913817925252,5.0

In [38]:
# reset_index() 함수를 호출하여 인덱스를 다시 정렬
res_info_df = res_info_df.reset_index(drop=True)

In [39]:
# 카카오API로 겁색하지 못한 음식점 개수
res_info_df.isna().sum()

address_name           643
category_group_code    643
category_group_name    643
category_name          643
distance               643
id                     643
phone                  643
place_name             643
place_url              643
road_address_name      643
x                      643
y                      643
평점                     871
dtype: int64

In [40]:
# 서울 아닌 행, NaN값 삭제
rows_to_drop2 = res_info_df[~res_info_df['address_name'].str.startswith('서울', na=False)].index
res_info_df = res_info_df.drop(rows_to_drop2)
res_info_df = res_info_df.reset_index(drop=True)

In [41]:
res_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4342 entries, 0 to 4341
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address_name         4342 non-null   object
 1   category_group_code  4342 non-null   object
 2   category_group_name  4342 non-null   object
 3   category_name        4342 non-null   object
 4   distance             4342 non-null   object
 5   id                   4342 non-null   object
 6   phone                4342 non-null   object
 7   place_name           4342 non-null   object
 8   place_url            4342 non-null   object
 9   road_address_name    4342 non-null   object
 10  x                    4342 non-null   object
 11  y                    4342 non-null   object
 12  평점                   4116 non-null   float64
dtypes: float64(1), object(12)
memory usage: 441.1+ KB

In [42]:
# 음식점 아닌 행 삭제
rows_to_drop3 = res_info_df[~res_info_df['category_name'].str.startswith('음식점', na=False)].index
res_info_df = res_info_df.drop(rows_to_drop3)
res_info_df = res_info_df.reset_index(drop=True)

In [43]:
res_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4274 entries, 0 to 4273
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address_name         4274 non-null   object
 1   category_group_code  4274 non-null   object
 2   category_group_name  4274 non-null   object
 3   category_name        4274 non-null   object
 4   distance             4274 non-null   object
 5   id                   4274 non-null   object
 6   phone                4274 non-null   object
 7   place_name           4274 non-null   object
 8   place_url            4274 non-null   object
 9   road_address_name    4274 non-null   object
 10  x                    4274 non-null   object
 11  y                    4274 non-null   object
 12  평점                   4067 non-null   float64
dtypes: float64(1), object(12)
memory usage: 434.2+ KB

In [44]:
#공통컬럼만
df_final = res_info_df.iloc[:,[0,3,7,11,10,8,12]]
df_final.columns = ['도로명주소', '카테고리', '상호명', '위도(y)', '경도(x)', '사이트', '별점']
df_final

,도로명주소,카테고리,상호명,위도(y),경도(x),사이트,별점
0,서울 강서구 방화동 886,음식점 > 한식,김포국제공항 국제선 하늘찬,37.5657446032739,126.800878128754,http://place.map.kakao.com/26888363,5.0
1,서울 금천구 가산동 41-11,"음식점 > 한식 > 육류,고기",오늘한판,37.4822199229043,126.88298000435,http://place.map.kakao.com/16593645,5.0
2,서울 성북구 동선동1가 46-1,"음식점 > 한식 > 찌개,전골",최네집부대찌개 성북점,37.5906561839804,127.01712439872168,http://place.map.kakao.com/1625544233,5.0
3,서울 동대문구 이문동 345-9,음식점 > 분식 > 떡볶이,이문동떡볶이,37.5930798753618,127.057145077247,http://place.map.kakao.com/642334911,5.0
4,서울 광진구 화양동 34-12,음식점 > 한식 > 순대,토종명품순대국,37.5430477748045,127.068639583916,http://place.map.kakao.com/1941876222,5.0
...,...,...,...,...,...,...,...
4269,서울 강남구 역삼동 676,음식점 > 술집 > 와인바,알렌 컨티뉴엄,37.5036000555404,127.041700406344,http://place.map.kakao.com/302203396,NaN
4270,서울 강남구 논현동 67-27,음식점 > 술집 > 와인바,오프닝,37.5188924866535,127.031018121292,http://place.map.kakao.com/2010673091,NaN
4271,서울 강남구 청담동 89-10,음식점 > 일식,일드청담,37.5246933928494,127.04188409706,http://place.map.kakao.com/1492847519,NaN
4272,서울 강남구 청담동 3,음식점 > 퓨전요리,일판,37.5231724331433,127.042074427328,http://place.map.kakao.com/1978831579,NaN
4273,서울 강남구 청담동 131-20,"음식점 > 한식 > 해물,생선 > 회",청담항,37.5229141396321,127.056485172567,http://place.map.kakao.com/1600722572,NaN

In [45]:
df_final['카테고리'].value_counts()

음식점 > 한식 > 육류,고기             495
음식점 > 한식                     329
음식점 > 중식 > 중국요리              257
음식점 > 한식 > 육류,고기 > 갈비        196
음식점 > 한식 > 해물,생선             166
                            ...
음식점 > 간식 > 닭강정                 1
음식점 > 분식 > 김가네                 1
음식점 > 아시아음식 > 동남아음식 > 포베이      1
음식점 > 양식 > 피자 > 도미노피자          1
음식점 > 한식 > 국수 > 미사리밀빛초계국수      1
Name: 카테고리, Length: 238, dtype: int64

In [46]:
#최종 데이터프레임
df_final.to_excel('식단품질정보_전처리2.xlsx')